<h2>About Question & Answers</h2>

<p>The Q/A website was created to explore the wonderful world of Ember.js. This project allows users to ask questions and have other users respond to those questions!</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'index'}}Click Here to return to the home page{{/link-to}}
