<div class= "container">
  <header class= "jumbotron">
    <h1>Question & Answers!</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}I would love to help you out if you have any questions for me!{{/link-to}}
  </footer>
</div>
