<h1> Welcome to Question & Answers! </h1>

<p>We hope you find the answers to all your questions!.</p>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
